<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <nav >
      <h2>EVENTS APP</h2>
        <% if logged_in?%>
      <div class="logout-button">
        <%=  link_to 'ALL EVENTS', events_path%>
        <%=  link_to 'NEW EVENT', new_event_path%>
        <%= link_to 'My Events', @current_user %>
        <%= link_to 'Log out', logout_path, method: :delete %>
      </div>
      <% else %>
        <%=  link_to 'LOGIN ', login_path%>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
